<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}

    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <script src="https://unpkg.com/idiomorph@0.3.0/dist/idiomorph-ext.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    <script>
      var getMessage = () => {
        console.log("Getting message");
        return "Hello from JS";
      };
    </script>
  </body>
</html>
